# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Shin Seung Yeon\OneDrive\바탕 화면\themeforest-FCAj78UT-bizmap-business-directory-listing-html-template\xhtml\.idea/dataSources/
/dataSources.local.xml
